<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/master.css" />
    <title>ToDoList</title>
  </head>
  <body>
    <div class="body-container">
      <div class="parent-div">
        <div class="sidebar-parent">
          <div class="sidebar-header">
            <div class="menudiv">
              <img class="menubtn" src="/images/menu.svg" alt="menu"  title="Toggle Menu"/>
              <span>Menu</span>
            </div>
          </div>
          <div class="listOfbtns">
            <a href="/">
            <div class="stickywalldiv" title="Sticky Wall" >
              <img class="stickywallbtn" src="/images/notes.svg" alt="notes"/>
              <span>Sticky Wall</span>
            </div>
            </a>
            <a href="/todoList">
              <div class="tododiv" title="Todo-List">
                <img class="todobtn" src="/images/list.svg" alt="list"/>
                <span>Todo-List</span>
              </div>
            </a>
          </div>
        </div>
        <div class="header-div">
          <h1>Sticky Wall</h1>
          <hr class="horizontal-line" />
        </div>
        <div class="child-div" id="parent">
          <div class="openedNote-parent">
            <div class="note-content">
              <p class="title-section"></p>
              <hr />
              <p class="description-section"></p>
            </div>
            <button class="cross-btn">
              <img src="/images/cross.svg" alt="cross" />
            </button>
            <button class="save-data">Save</button>
          </div>
          <button class="addBox-button" id="plus-box" onclick="addBox()">
            <img class="plus" src="/images/plus.svg" alt="plus" />
          </button>
        </div>
      </div>
    </div>
    <script src="/js/homepage.js"></script>
  </body>
</html>
